/* Arquivo CSS do Card para Anime (animeCard) */

/* Card para Anime (animeCard) */
.animeCard {
  display: flex;
  padding: 20px;
  /* align-items: center; */

  width: 460px;
  height: 195px;

  background: #1d1d1f;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.animeImg {
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0% 5%;

  /* alterar quando tiver mais colunas de Anime */
  justify-content: space-between;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

