html {
    scroll-behavior: smooth;
}

/* Background do Site */
body {
    background-color: #0A1621;
}

/* Nome da Página de Consulta */
.namePage {
    color: #ffffff;
    width: 100%;
    /* margin: 0 10% 0 10%; */
    padding-top: 12%;
    padding-bottom: 2.5%;
    font-size: 1.75em;
    display: grid;
    justify-content: center;
    align-items: center;
  }

/* Fonte do Nome Site */
@font-face {
    font-family: Overpass-Bold;
    src: url(../assets/OverpassFamily/Overpass-Bold.ttf);
}

/* Título Site e Textos */
h1 {
    font-family: Overpass-Bold;
    font-size: 2.875em;
}

@font-face {
    font-family: Overpass-SemiBold;
    src: url(../assets/OverpassFamily/Overpass-SemiBold.ttf);
}

/* Título das Páginas (por Consulta) */
h2 {
    font-family: Overpass-SemiBold;
    color: #f2f2f2;
}

/* Textos do Footer */
h3 {
    font-family: Overpass-Semibold;
    color: #2E529D;
    font-size: 1.75em;
}

@font-face {
    font-family: Overpass-Regular;
    src: url(../assets/OverpassFamily/Overpass-Regular.ttf);
}

/* Textos do Footer */
h4 {
    font-family: Overpass-Regular;
    color: #BFBFBF;
    font-size: 1.25em;
}

/* Textos do Footer */
h5 {
    font-family: Overpass-Regular;
    color: rgba(20, 34, 49, 0.72);
    font-size: 1.25em;
}

@font-face {
    font-family: Overpass-Thin;
    src: url(../assets/OverpassFamily/Overpass-Thin.ttf);
}