html {
    scroll-behavior: smooth;
}

/* Background do Site */
body {
    background-color: #0A1621;
}

/* Fonte do Nome Site */
@font-face {
    font-family: Overpass-Bold;
    src: url(../assets/OverpassFamily/Overpass-Bold.ttf);
}

/* Título Site e Textos */
h1 {
    font-family: Overpass-Bold;
    font-size: 2.875em;
}

@font-face {
    font-family: Overpass-Medium;
    src: url(../assets/OverpassFamily/Overpass-Medium.ttf);
}

/* Texto dos Botões */
h2 {
    font-family: Overpass-Medium;
    color: #f2f2f2;
}

@font-face {
    font-family: Overpass-Regular;
    src: url(../assets/OverpassFamily/Overpass-Regular.ttf);
}

/* Textos do Footer */
h3 {
    font-family: Overpass-Regular;
    color: #1A1D1E;
    font-size: 1.75em;
}

@font-face {
    font-family: Overpass-RegularRegular;
    src: url(../assets/OverpassFamily/Overpass-Regular.ttf);
}

/* Textos do Footer */
h4 {
    font-family: Overpass-Regular;
    color: #BFBFBF;
    font-size: 1.25em;
}

@font-face {
    font-family: Overpass-RegularRegular;
    src: url(../assets/OverpassFamily/Overpass-Regular.ttf);
}

/* Textos do Footer */
h5 {
    font-family: Overpass-Regular;
    color: #000000;
    font-size: 1.25em;
}